<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Phone Card</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>Mua thẻ cào</h2>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Icon</th>
            <th scope="col">Loại giao dịch</th>
            <th scope="col">Số tiền</th>
            <th scope="col">Thời gian thực hiện</th>
            <th scope="col">Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <% history.forEach(function(h){%>
          <tr>
            <th scope="row">1</th>
            <td>icon</td>
            <td><%= h.type %></td>
            <td class="totalBill"><%= h.add_money %></td>
            <td><%= h.create_at %></td>
            <td><%= h.status %></td>
          </tr>
          <% })%>
        </tbody>
      </table>
    </div>
  </body>
  <script src="/javascripts/main.js"></script>
</html>
