<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>Mua thẻ cào</h2>
      <form method="POST">
        <p>Chọn nhà mạng</p>
        <input type="radio" id="mobi" name="phone_card" value="mobi">
        <label for="mobi">Mobifone</label><br>
        <input type="radio" id="vt" name="phone_card" value="vt">
        <label for="vt">Viettek</label><br>
        <input type="radio" id="javascript" name="phone_card" value="JavaScript">
        <label for="javascript">JavaScript</label>
        </div>
        <div class="form-group">
          <label for="money_transfer">Số tiền chuyển</label>
          <input
            type="number"
            class="form-control"
            id="money_transfer"
            placeholder="Nhập số tiền chuyển"
            name="money_transfer"
          />
        </div>

        <div class="form-group">
          <label for="notes">Ghi chú</label>
          <input type="text" class="form-control" id="notes" placeholder="Ghi" name="notes" />
        </div>

        <button type="submit" class="btn btn-primary">Thực hiện</button>
      </form>
    </div>
  </body>
</html>
